.app.DARK {
	--bg-color: #6060be;
	--inverted-bg-color: #e8e8ea;
	
	--primary-color: #049604;
	--secondary-color: #5bd35b;
	
	--inverted-primary-color: #022bb2;
	--inverted-secondary-color: #2f6cf1;
}
